/* start global */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
:root {
  --orange: #ffa500;
  --white1: #fff;
  --black1: #333;
  --black2: rgba(0, 0, 0, 0.7);
  --gray: #666;
  --fontSize0: 1.5rem;
  --fontSize1: 1.7rem;
  --fontSize2: 2rem;
  --fontSize3: 2.5rem;
  --fontSize4: 3rem;
  --borderRadius: 0.5rem;
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
::selection {
  background-color: var(--orange);
  color: var(--white1);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
.btn {
  color: var(--white1);
  background-color: var(--orange);
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  cursor: pointer;
  font-size: var(--fontSize1);
  border: 0.2rem solid var(--orange);
}
.btn:hover {
  color: var(--orange);
  background-color: rgba(255, 165, 0, 0.2);
}
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding: 2.5rem 0;
}
.heading span {
  background-color: rgba(255, 165, 0, 0.2);
  color: var(--orange);
  font-size: 3.5rem;
  padding: 0.2rem 1rem;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.heading span.space {
  background: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
/* end global */
/* start header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black1);
  z-index: 1000;
  padding: 2rem 9%;
}
header .logo {
  font-size: var(--fontSize3);
  font-weight: bold;
  color: var(--white1);
  text-transform: uppercase;
}
header .logo span {
  color: var(--orange);
}
header nav a {
  color: var(--white1);
  font-size: var(--fontSize2);
  margin: 0 0.8rem;
}
header nav a:hover {
  color: var(--orange);
}
header .icon i {
  font-size: var(--fontSize3);
  color: var(--white1);
  margin-right: 2rem;
  cursor: pointer;
}
header .icon i:hover {
  color: var(--orange);
}
header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background-color: var(--black1);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 0,
    0 0
  ); /*like over flow hidden or display none*/
}
header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /*like display block*/
}
header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: var(--black1);
  font-size: var(--fontSize1);
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
header .search-bar-container label {
  color: var(--white1);
  font-size: var(--fontSize4);
  cursor: pointer;
  margin-left: 1.5rem;
}
header .search-bar-container label:hover {
  color: var(--orange);
}
header #menu-bar {
  display: none;
  font-size: var(--fontSize4);
  color: var(--white1);
  border: 0.1rem solid var(--white1);
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}

/* end header  */
/* start login form  */
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--black2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.login-form-container.active {
  top: 0%;
}
.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  background-color: var(--white1);
  width: 50rem;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.login-form-container form h3 {
  text-align: center;
  font-size: var(--fontSize4);
  color: #444;
  text-transform: uppercase;
  padding: 1rem 0;
}
.login-form-container form .box {
  width: 100%;
  font-size: var(--fontSize1);
  padding: 1rem;
  color: var(--black1);
  margin: 0.6rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.3);
  text-transform: none;
}
.login-form-container form .box:focus {
  border-color: var(--orange);
}
.login-form-container form #remember {
  margin: 1.5rem 0;
}
.login-form-container form label {
  font-size: var(--fontSize0);
}
.login-form-container form .btn {
  width: 100%;
  display: block;
}
.login-form-container form p {
  padding: 0.5rem 0;
  font-size: var(--fontSize0);
  color: var(--gray);
}
.login-form-container form p a {
  color: var(--orange);
}
.login-form-container form p a:hover {
  color: var(--black1);
  text-decoration: underline;
}
.login-form-container #form-close {
  font-size: 5rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: var(--white1);
  cursor: pointer;
}
/* end login form  */
/* start home  */
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .content {
  text-align: center;
}
.home .content h3 {
  color: var(--white1);
  font-size: 4.5rem;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}
.home .content p {
  color: var(--white1);
  font-size: var(--fontSize3);
  padding: 0.5rem 0;
}
.home .video-container video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.home .controls {
  padding: 1rem;
  background-color: var(--black2);
  position: relative;
  top: 10rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
.home .controls .vid-btn {
  margin: 0 0.5rem;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-color: var(--white1);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home .controls .vid-btn.active {
  background-color: var(--orange);
}
/* end home  */
/* start book section  */
.book .row {
  align-items: center;
  gap: 1.5rem;
}
.book .row .img {
  flex: 1 1 40rem;
}
.book .row .img img {
  width: 100%;
}
.book .row form {
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.book .row form .input-box {
  padding: 0.5rem 0;
}
.book .row form .input-box input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: var(--black1);
  font-size: var(--fontSize1);
  text-transform: none;
}
.book .row form .input-box h3 {
  font-size: var(--fontSize2);
  padding: 1rem 0;
  color: var(--gray);
}
/* end book section  */
/* start packages section  */
.packages .box-container {
  gap: 2rem;
}
.packages .box-container .box {
  flex: 1 1 50rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: var(--borderRadius);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.packages .box-container .box img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.packages .box-container .box .content {
  padding: 2rem;
}
.packages .box-container .box .content h3 {
  font-size: var(--fontSize2);
  color: var(--black1);
}
.packages .box-container .box .content h3 i {
  color: var(--orange);
}
.packages .box-container .box .content p {
  color: var(--gray);
  font-size: var(--fontSize1);
  padding: 1rem 0;
}
.packages .box-container .box .content .stars i {
  color: var(--orange);
  font-size: var(--fontSize1);
  padding: 1rem 0;
}
.packages .box-container .box .content .price {
  color: var(--black1);
  font-size: var(--fontSize2);
  padding-top: 1rem;
}
.packages .box-container .box .content .price span {
  color: var(--gray);
  font-size: var(--fontSize0);
  text-decoration: line-through;
}
/* end packages section  */
/* start service section  */
.services .box-container {
  gap: 1.5rem;
}
.services .box-container .box {
  flex: 1 1 40rem;
  padding: 1rem;
  text-align: center;
  border-radius: var(--borderRadius);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.services .box-container .box:hover {
  box-shadow: var(--box-shadow);
}
.services .box-container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: var(--orange);
}
.services .box-container .box h3 {
  font-size: var(--fontSize3);
  color: var(--black1);
}
.services .box-container .box p {
  font-size: var(--fontSize0);
  color: var(--gray);
  padding: 1rem 0;
}
/* end service section  */
/* start gallery section  */
.gallery .box-container {
  gap: 1.5rem;
}
.gallery .box-container .box {
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border: 1rem solid var(--white1);
  flex: 1 1 40rem;
  height: 25rem;
  position: relative;
  border-radius: var(--borderRadius);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--black2);
  padding: 2rem;
  padding-top: 5rem;
}
.gallery .box-container .box:hover .content {
  top: 0;
}
.gallery .box-container .content h3 {
  font-size: var(--fontSize3);
  color: var(--orange);
}
.gallery .box-container .content p {
  font-size: var(--fontSize0);
  color: #eee;
  padding: 0.5rem 0;
}
/* end gallery section  */
/* start review section  */
.review .review-slider {
  padding-bottom: 2rem;
}
.review .box {
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  border-radius: var(--borderRadius);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.review .box img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.review .box h3 {
  font-size: var(--fontSize3);
  color: var(--black1);
}
.review .box p {
  font-size: var(--fontSize0);
  color: var(--gray);
  padding: 1rem 0;
}
.review .box .stars i {
  font-size: var(--fontSize1);
  color: var(--orange);
}
/* end review section  */
/* start contact section  */
.contact .row {
  gap: 1.5rem;
  align-items: center;
}
.contact .row .img {
  flex: 1 1 30rem;
}
.contact .row .img img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 50rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.contact .row form .input-box {
  justify-content: space-between;
}
.contact .row form .input-box input,
.contact .row form textarea {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: var(--fontSize1);
  color: var(--black1);
  background-color: #f7f7f7;
  text-transform: none;
}
.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}
/* end contact section  */
/* start brand section  */
.brand-container {
  text-align: center;
}
/* end brand section  */
/* start footer  */
.footer {
  background-color: var(--black1);
}
.footer .box-container {
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}
.footer .box-container .box h3 {
  font-size: var(--fontSize3);
  padding: 0.7rem 0;
  color: var(--white1);
}
.footer .box-container .box p {
  display: block;
  font-size: var(--fontSize0);
  padding: 0.7rem 0;
  color: #eee;
}
.footer .box-container .box a {
  display: block;
  font-size: var(--fontSize0);
  padding: 0.7rem 0;
  color: #eee;
}
.footer .box-container .box a:hover {
  text-decoration: underline;
  color: var(--orange);
}
.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  margin: 1rem auto 0;
  font-size: var(--fontSize2);
  font-weight: normal;
  color: #777;
  border-top: solid 0.1rem rgba(255, 255, 255, 0.2);
}
.footer .credit span {
  color: var(--orange);
}
/* end footer  */
/* start media  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .heading span {
    font-size: var(--fontSize3);
  }
}
@media (max-width: 768px) {
  header #menu-bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--black1);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*hide below part*/
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /*hide show part*/
  }
  header .navbar a {
    background-color: #222;
    display: block;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
  }
  .contact .row form .input-box input {
    width: 100%;
  }
}
/* end media  */
